.post {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  margin: 30px 0;
  &__wrapper {
    padding: 10px;
  }
  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &--left {
      display: flex;
      align-items: center;
    }
    &--profile {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      object-fit: cover;
    }
    &--name {
      font-size: 15px;
      font-weight: 500;
      margin: 0 10px;
    }
    &--date {
      font-size: 12px;
    }
  }
  &__center {
  }
  &__center {
    margin: 20px 0;
    &--image {
      margin-top: 20px;
      width: 100%;
      max-height: 500px;
      object-fit: cover;
    }
  }
  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &--left {
      display: flex;
      align-items: center;
    }
    &--like {
      width: 24px;
      height: 24px;
      margin-right: 5px;
      cursor: pointer;
    }
    &--counter {
      font-size: 15px;
    }
    &--comments {
      cursor: pointer;
      border-bottom: 1px dashed #373737;
    }
  }
}
